<p>View source code here: <a href="https://github.com/kellybhoward/nokogiricrawler" target="_blank"><%= image_tag "git.png", :class=>"git_logo"%></a></p>
<div class="container">
    <form action="/" method="post">
        <label for="search">URL to analyze:</label>
        <input id="search" type="text" name="url"/>
        <input type="submit" name="fetch" value="Fetch">
    </form>
</div>
<div id="loading"><p>Loading...if this is a big website, it may take a moment...<p></div>
<div id="errors"></div>
<div id="container"></div>
